# vim: ft=sh

UV_PYTHON_PREFERENCE=only-managed

if [ ! -d $ENVRC_DIR/.venv/bin ]; then
  uv venv
fi

source .venv/bin/activate
uv sync

if python -c "import ipdb"; then
  export PYTHONBREAKPOINT=ipdb.set_trace
fi

